/* ---------- MOBILE ---------- */

.hamburger-component {
  .dropdown {
    position: absolute;
    width: 100%;
    left: 0;
  }
}

/* ---------- TABLET ---------- */

/* ---------- DESKTOP ---------- */
