@use '../variables';

/* ---------- MOBILE ---------- */

.nav-component {
  padding-top: 26px;
  width: 100%;

  ul {
    background-color: variables.$brand-white;
  }

  li {
    padding: 16px 16px;
    list-style: none;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid variables.$brand-green;
  }

  a {
    text-decoration: none;
    color: variables.$brand-green;
    font-weight: 700;
  }

  a:hover {
    color: variables.$brand-yellow;
  }
}

/* ---------- TABLET ---------- */

/* ---------- DESKTOP ---------- */
