/* ---------- BREAKPOINTS ---------- */
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* ---------- COLOR CONST ---------- */
$brand-green: #495e57;
$brand-yellow: #f4ce14;
$brand-black: #3d3d3d;
$brand-white: #f9f9f9
;
