$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

/* ---------- MOBILE ---------- */

body {
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  height: 80px;
  padding: 24px 18px;

  background-color: white;
  border-bottom: 1px solid black;

  .logo {
    display: none;
  }

  > Nav {
    display: none;
  }
}


/* Main */

/* Hero */

/* ---------- TABLET ---------- */

/* ---------- DESKTOP ---------- */
